<div class="sidenav">
    <a routerLink="/dashboard" class="dashboard">
      <i class="fas fa-tachometer-alt"></i> <!-- Icon for Dashboard -->
      <span>Dashboard</span>
    </a>
    <a routerLink="/modules">
      <i class="fas fa-book"></i> <!-- Icon for Modules -->
      <span>Modules</span>
    </a>
    <a routerLink="/trainees">
      <i class="fas fa-user-graduate"></i> <!-- Icon for Trainees -->
      <span>Trainees</span>
    </a>
    <a routerLink="/trainers">
      <i class="fas fa-chalkboard-teacher"></i> <!-- Icon for Trainers -->
      <span>Trainers</span>
    </a>
    <a routerLink="/marksheet">
      <i class="fas fa-file-alt"></i> <!-- Icon for Marksheet -->
      <span>Marksheet</span>
    </a>
    <a routerLink="/share-point">
      <i class="fas fa-share-alt"></i> <!-- Icon for Sharepoint -->
      <span>SharePoint</span>
    </a>
  </div>
  <div class="main-content">
    <!-- Your main content goes here -->
  </div>
  