.navbar {
  display: flex;
  align-items: center;
  width: 180px;
  height: 100vh;
  background-color: #007bff;
  color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: width 0.3s ease;

  // Collapsible Sidebar for small screens
  &.collapsed {
      width: 70px;

      .user-details {
          display: none;
      }

      .menu-button span {
          display: none;
      }

      .menu-button mat-icon {
          margin-right: 0;
      }
  }
}

.user {
  text-align: center;
  margin-bottom: 30px;
  img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid #f9fafb;
      margin-bottom: 10px;
  }

  .name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
      // color: black;
  }

  .mail {
      font-size: 14px;
      color: #d1d5db;
      // color: black;
  }
}



.logout
{
  margin-top: 200px;
  margin-left: -20px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:50px;
  padding-right:60px;
  border-radius: 5px;
  background: transparent;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
      background-color: #3690f0;
      color: #ffffff;
  }
}
.menu {
  width: 100%;

  .menu-button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 19px 25px; /* Increased padding for better spacing */
      margin: 10px 0;
      border-radius: 5px;
      background: transparent;
      color: #f9fafb;
      transition: background-color 0.3s ease, color 0.3s ease;

      mat-icon {
          font-size: 20px; /* Fixed icon size */
          margin-right: 15px; /* Consistent spacing */
      }

      span {
          font-size: 15px; /* Text size */
          margin-right: 0;  /* Remove unnecessary margin */
          padding-top: 0;
          display: inline-flex;
          align-items: center;
      }

      &:hover {
          background-color: #3690f0;
          color: #ffffff;
          padding-right:60px;
      }
      &.active-link {
          background-color: #0e335b;
          color: #ffffff;
          padding-right:50px;

        }
  }
}

// Responsive Styles
@media (max-width: 768px) {
  .navbar {
      width: 200px;

      &.collapsed {
          width: 60px;
      }
  }

  .menu-button {
      padding: 10px 15px;

      mat-icon {
          font-size: 24px; /* Adjusted icon size for smaller screens */
      }

      span {
          font-size: 14px;
      }
  }
}

@media (max-width: 480px) {
  .navbar {
      width: 180px;

      &.collapsed {
          width: 50px;
      }
  }

  .menu-button {
      padding: 8px 10px;

      mat-icon {
          font-size: 20px; /* Further adjustment for smaller screens */
      }

      span {
          font-size: 12px;
      }
  }
}
