<div class="navbar">
  <div class="user">
      <img src="https://freesvg.org/img/abstract-user-flat-4.png" alt="Admin Profile" />
      <div class="user-details">
          <h4 class="name">Admin</h4>
          <p class="mail">admin&#64;gmail.com</p>
      </div>
  </div>


  <div class="menu"  >
      <button mat-button class="menu-button" [routerLink]="['/dashboard']" routerLinkActive="active-link">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/program-list']" routerLinkActive="active-link">
          <mat-icon>calendar_today</mat-icon>
          <span>Program</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/trainees-list']"  routerLinkActive="active-link">
          <mat-icon>people</mat-icon>
          <span>Trainees</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/trainers-list']"  routerLinkActive="active-link">
          <mat-icon>supervisor_account</mat-icon>
          <span>Trainers</span>
      </button>
      <button mat-button class="menu-button" [routerLink]="['/scores']"  routerLinkActive="active-link">
          <mat-icon>assignment_turned_in</mat-icon>
          <span>Scores</span>
      </button>
  </div>
  <div class="logout">

      <button mat-button class="logout-button" (click)=logout()>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
      </button>
  </div>
</div>
