<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"> <!-- Add validation function call -->

    <!-- Employee ID -->
    <div class="input-group">
      <label for="employeeId">Employee ID</label>
      <input class="input-field" type="text" id="employeeId" formControlName="employeeID" required>
      <div *ngIf="registerForm.get('employeeID')?.invalid && registerForm.get('employeeID')?.touched">
        <small class="error">Employee ID is required</small>
      </div>
    </div>

    <!-- Company Email -->
    <div class="input-group">
      <label for="email">Company Email</label>
      <input class="input-field" type="email" id="email" formControlName="email" required>
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small class="error" *ngIf="registerForm.get('email')?.hasError('required')" [ngStyle]="{'color':'red'}">Email is required</small>
        <small class="error" *ngIf="registerForm.get('email')?.hasError('email')" [ngStyle]="{'color':'red'}">Invalid email</small>
      </div>
    </div>

    <!-- Password -->
    <div class="input-group">
      <label for="password">Password</label>
      <input class="input-field" type="password" id="password" formControlName="password" required>
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small class="error" *ngIf="registerForm.get('password')?.hasError('required')" [ngStyle]="{'color':'red'}">Password is required</small>
        <small class="error" *ngIf="registerForm.get('password')?.hasError('minlength')" [ngStyle]="{'color':'red'}">Password must be at least 6 characters</small>
      </div>
    </div>

    <!-- Confirm Password -->
    <!-- <div class="input-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
      <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched">
        <small class="error" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Confirm Password is required</small>
        <small class="error" *ngIf="registerForm.hasError('passwordMismatch')">Passwords do not match</small>
      </div>
    </div> -->

    <!-- Phone Number -->
    <div class="input-group">
      <label for="phoneNo">Phone Number</label>
      <input class="input-field" type="tel" id="phoneNo" formControlName="phoneNo" required>
    </div>

    <!-- Date of Birth -->
    <div class="input-group">
      <label for="dob">Date of Birth</label>
      <input class="input-field" type="date" id="dob" formControlName="dob" required>
    </div>

    <!-- Role -->
    <!-- <div class="input-group">
      <label for="role">Role</label>
      <select class="input-field" id="role" formControlName="role" required>
        <option value="Trainee">Trainee</option>
        <option value="Trainer">Trainer</option>
        <option value="Admin">Admin</option>
      </select>
    </div> -->

    <!-- Submit Button -->
    <button type="submit" [disabled]="registerForm.invalid">Register</button>

    <div>
      <p class="forgot-password">
        Already Have an Account?
        <a routerLink="/login">Sign In</a>
      </p>
    </div>
  </form>
</div>
