button:disabled {
  background-color: #ddd;
}
body {
  // background-image: url('theme.jpg'); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items within the box */
  width: 400px;
  margin: 0 auto;
  margin-top:55px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;

}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input-group input,
.input-group select {
  //width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-group input:focus {
  outline: none;
  border-color: #ff7f50; /* Highlight border color when input is focused */
}

.input-field{
  width: 350px; /* Set desired width in pixels or percentage */
  padding: 10px; /* Optional: Add padding for better spacing */
  font-size: 1rem; /* Optional: Adjust font size for better appearance */
  border: 1px solid #ccc; /* Optional: Add border for styling */
  border-radius: 5px; /* Optional: Add rounded corners */
  box-sizing: border-box;
}

// #passwordMatchStatus {
//   font-size: 0.9rem;
//   margin-top: 5px;
//   font-weight: bold;
// }

button {
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff5733;
}
.forgot-password {
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  color: #ff7f50;
  font-weight: bold;
}

.forgot-password a:hover {
  color: #ff5733;
}
