body {
  font-family: 'Times New Roman', Times;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

.report-card {
  width: 400px;
  // height: 300px;
  padding: 0px;
  border-radius: 5px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.student-info p {
  margin: 10px 0;
  color: #111111;
  font-size: 15px;
}

.student-info p strong {
  color: #000;
}

.marks {
  margin-bottom: 15px;
}

.score-percentage {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-size: small;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(114, 89, 89);
}

.score-percentage p {
  margin: 0;
}

mat-card-header {
  border-radius: 0 0;
}

mat-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #111f79;
  padding-right: 210px;
}

mat-card-content {
  padding: 3px;
}

.student-info {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

hr {
  border: 0;
  // border-top: 1px solid #eee;
  margin: 0px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  // margin-top: 20px;
}

.ok-button {
  background-color: #3f51b5; /* Primary color */
  color: #ffffff;
  // border: none;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.ok-button:hover {
  background-color: #303f9f;
}

.close-button {
  background-color: #960c0c;
  border: none;
  color: #faf4f4;
  font-size: 1.2em;
  cursor: pointer;
  padding:5px 2px;
  margin-left: 100px;
  margin: 0;
}

.close-button:hover {
  background-color: #ac3a1e; /* Accent color */
}
