.scorecard-container {
  padding: 20px;
  background-color: #f2f2f2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.average-percentage {
  margin-bottom: 20px;
}

.ok-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(4, 4, 44);
  color: white;
}
