<div mat-dialog-title>
    <h1>
        Add Program Details
    </h1>
</div>
<form [formGroup]="programForm" (ngSubmit)="onFormSubmit()" >
<div mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="outline" class="content">
            <mat-label>Module</mat-label>
            <input matInput type="text" placeholder="Module name" formControlName="module">
        </mat-form-field>

        

        <mat-form-field appearance="outline" class="content">
            <mat-label>Hour</mat-label>
            <input matInput type="number" placeholder="No of hours" type="number" formControlName="dayHour">
        </mat-form-field>

        <mat-form-field appearance="outline" class="content">
          <mat-label>Start Date</mat-label>
          <input matInput placeholder="Start Date" [matDatepicker]="startPicker" formControlName="startDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>


    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="content">
        <mat-label>End Date</mat-label>
        <input matInput placeholder="End Date" [matDatepicker]="endPicker" formControlName="endDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

          <mat-form-field class="content">
            <mat-label>Training Mode</mat-label>
            <mat-select formControlName="trainingMode">
                <mat-option *ngFor="let val of trainingModes" [value]="val">
                {{val}}
                </mat-option>
            </mat-select>
          </mat-form-field>    
         
        <mat-form-field class="content">
          <mat-label>Status</mat-label>
          <mat-select [(value)]="selectedStatus" formControlName="status">
              <mat-option *ngFor="let val of trainingStatus" [value]="val">
              {{val}}
              </mat-option>
          </mat-select>
        </mat-form-field>      
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="content">
            <mat-label>Start Time</mat-label>
            <input matInput type="text" placeholder="Start Time" formControlName="startTime">
            <mat-hint>11:00 AM</mat-hint>

        </mat-form-field>

        <mat-form-field appearance="outline" class="content">
            <mat-label>End Time</mat-label>
            <input matInput type="text" placeholder="End Time" formControlName="endTime">
            <mat-hint>1:00 PM</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="content">
          <mat-label>Trainer</mat-label>
          <input matInput type="text" placeholder="Trainer Name" formControlName="trainer">
        </mat-form-field> 
        <!-- <mat-form-field class="content">
          <mat-label>Trainer</mat-label>
          <mat-select formControlName="module" formControlName="trainer">
              <mat-option *ngFor="let trainer of trainerNames" [value]="trainer">
              {{trainer}}
              </mat-option>
          </mat-select>
        </mat-form-field>  -->

    </div>
    <div class="row">
      <mat-form-field class="content">
        <mat-label>Topics</mat-label>
        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let topicControl of topicsArray.controls; let i = index"
                        (removed)="removeTopic(topicControl.value)">
            {{ topicControl.value }}
            <button matChipRemove [attr.aria-label]="'remove ' + topicControl.value">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input placeholder="New topic..."
                 [matChipInputFor]="chipGrid"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addTopic($event)">
        </mat-chip-grid>
        <mat-hint>Press Enter or comma to add topic</mat-hint>
        <mat-error *ngIf="isTopicsInvalid()">
          At least one topic is required
        </mat-error>
      </mat-form-field>
      
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>

</div>
</form>





















<!-- <div class="container">
    <h2>Add Program</h2>
    
    <form [formGroup]="programForm">
      <div class="form-row">
        <mat-form-field>
          <mat-label>Module</mat-label>
          <input matInput formControlName="module">
        </mat-form-field> -->

<!-- Topics Form Array -->
<!-- <div formArrayName="topics" class="topics-container">
          <h3>Topics</h3>
          <div *ngFor="let topic of topicsArray.controls; let i=index" class="topic-row">
            <mat-form-field>
              <mat-label>Topic {{i + 1}}</mat-label>
              <input matInput [formControlName]="i" placeholder="Enter topic">
              <button mat-icon-button matSuffix type="button" (click)="removeTopic(i)">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <button mat-stroked-button type="button" (click)="addTopic()" color="primary">
            <mat-icon>add</mat-icon> Add Topic
          </button>
        </div> -->

<!-- <mat-form-field>
          <mat-label>Day/Hour</mat-label>
          <input matInput type="number" formControlName="dayHour">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Time</mat-label>
          <input matInput type="time" formControlName="time">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Training Mode</mat-label>
          <mat-select formControlName="trainingMode">
            <mat-option value="Online">Online</mat-option>
            <mat-option value="Offline">Offline</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Trainer</mat-label>
          <mat-select formControlName="trainer">
            <mat-option *ngFor="let trainer of trainers" [value]="trainer._id">
              {{trainer.Trainername}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="Scheduled">Scheduled</mat-option>
            <mat-option value="In Progress">In Progress</mat-option>
            <mat-option value="Completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Reference Notes</mat-label>
          <textarea matInput formControlName="referenceNotes"></textarea>
        </mat-form-field>
      </div>
  
      <div class="button-row">
        <button mat-button type="button">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!programForm.valid">
          Save
        </button>
      </div>
    </form>
  </div> -->