<div class="create">
  <h1 class="left-align" ><b>Assessment  Scores</b></h1>
  <mat-label class="Filter"><strong>Filter</strong></mat-label>
  <input style="align-items: center;" class="Filters" matInput (keyup)="applyFilter($event)" placeholder="Trainee Name" #input>
  <button mat-raised-button (click)="AddScoreCardDialog()" >+ Add Column</button><br>
  <button mat-raised-button (click)="createScoreCardDialog()">Create</button>
</div>


  <!-- <mat-form-field> -->
    <!-- <mat-label>Filter</mat-label>
     <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>  -->
   <!-- </mat-form-field>  -->
  <div mat-table class="mat-elevation-z8" [@fadeIn]>
  <table mat-table [dataSource]="dataSource" matSort >

  <!-- <ng-container class="column1" matColumnDef="traineeName">
    <th mat-header-cell  *matHeaderCellDef mat-sort-header> Trainee Name</th>
    <td mat-cell *matCellDef="let element" (click)="traineeReport(element.traineeName)"> <a style="hover{ color:blue;}">{{element.traineeName}}</a> </td>
  </ng-container> -->

  <ng-container matColumnDef="traineeName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trainee Name</th>
    <td mat-cell *matCellDef="let element">
      <a (click)="traineeReport(element.traineeName)">{{element.traineeName}}</a>
    </td>
  </ng-container>

  <ng-container class="column2" *ngFor="let topic of topics"  [matColumnDef]="topic.name + 'Score'">
    <th mat-header-cell (click)="openDialog(topic._id)" *matHeaderCellDef [@fadeIn] ><a>{{topic.name}} Score</a> </th>
    <td mat-cell *matCellDef="let element" (mouseover)="hover = true" (mouseleave)="hover = false" [@hoverEffect]="hover ? 'hover' : ''"> {{element[topic.name + 'Score']}} </td>
  </ng-container>

  <ng-container class="column3" *ngFor="let topic of topics" [matColumnDef]="topic.name + 'Percentage'">
    <div class="Filterrr">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>% <br><button><i  (click)="delete(topic._id)" class="fa-solid fa-trash">
    </i></button>  <i (click)="editDialog(topic._id)" class="fa-solid fa-pen-to-square"></i> </th>
    <td mat-cell *matCellDef="let element" > {{element[topic.name + 'Percentage']}} </td>
    </div>
  </ng-container>

  <ng-container class="column4" matColumnDef="overallScore">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Overall <br> Score </th>
    <td mat-cell *matCellDef="let element"  (mouseover)="hover = true" (mouseleave)="hover = false" [@hoverEffect]="hover ? 'hover' : ''"> {{element.overallScore}}/{{element.totalscore}}</td>
  </ng-container>

  <ng-container class="column5" matColumnDef="overallPercentage">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> Overall <br> Percentage </th>
    <td mat-cell *matCellDef="let element" > {{element.overallPercentage}} </td>
  </ng-container>

  <ng-container class="column6" matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank </th>
    <td mat-cell *matCellDef="let element" (mouseover)="hover = true" (mouseleave)="hover = false" [@hoverEffect]="hover ? 'hover' : ''"> {{element.rank}} </td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter</td>
  </tr> -->

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [@fadeIn]></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>
</table>
</div>
