<mat-toolbar class="sticky-header" >
  <span class="heading"  [ngStyle]="{'font-size': '25px','font-family': 'Arial, Sans-serif', 'letter-spacing':'2px', 'font-weight':'bold'}">Trainers</span>
  <span class="example-spacer"></span>

  <div class="search-container">
    <mat-form-field appearance="outline" class="search-field">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput
             [formControl]="searchControl"
             placeholder="Search Trainer by name"
             (keyup)="onSearch()">
      <button mat-icon-button matSuffix *ngIf="searchControl.value" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>



  <button mat-raised-button color="primary" (click)="openAddEditForm()">

    <mat-icon>add</mat-icon>
    <span>Add Trainer</span>
  </button>
</mat-toolbar>

<div class="programs-container">
  <div class="program-grid" *ngIf="filteredTrainers.length>0; else noTrainers" >
    <mat-card class="program-card" *ngFor="let trainer of filteredTrainers">
      <mat-card-header>
        <mat-card-title>{{ trainer.trainerName }}</mat-card-title>
        <div class="status-badge" [ngClass]="trainer.status.toLowerCase()">
          {{ trainer.status }}
        </div>
      </mat-card-header>

      <mat-card-content class="program-content">

        <div class="trainers-container">

          <mat-divider></mat-divider>
            </div>


        <div class="trainer-details">
          <p><mat-icon>theaters icon</mat-icon> {{ trainer.businessUnit }}</p>
          <p><mat-icon>verified</mat-icon> {{trainer.expertise}}</p>
          <p><mat-icon>schedule icon</mat-icon> Total Assigned Hours: {{ trainer.noOfHours }}</p>
          <div class="modules-topics">
            <h3>Modules and Topics:</h3>
            <div *ngFor="let module of trainer.module; let i = index">
              <p><mat-icon>topic</mat-icon>{{module}}</p>
              <p><mat-icon>article</mat-icon>{{trainer.topics[i]}}</p>
            </div>
          </div>
        </div>
      </mat-card-content>

      <div class="card-footer">

          <button mat-button color="primary" (click)="openEditForm(trainer)">
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-button color="warn" (click)="deleteProgram(trainer._id)">
            <mat-icon>delete</mat-icon> Delete
          </button>

      </div>
    </mat-card>
  </div>
</div>

<ng-template #noTrainers>
  <div class="no-trainers-message">
    <p>No trainers available. Click the add trainer button  to add a new trainer.</p>
  </div>
</ng-template>
