<mat-toolbar class="sticky-header">
  <span [ngStyle]="{'font-size': '25px','letter-spacing':'2px', 'font-weight':'bold'}">Trainees</span>
  <span class="example-spacer"></span>

  <div class="search-container">
    <div  class="search-field">
      <mat-icon matPrefix>search</mat-icon>
        <input matInput
        [formControl]="searchControl"
        placeholder="Search Trainee"
        (keyup)="onSearch()">
      <button mat-icon-button matSuffix *ngIf="searchControl.value" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="openAddEditForm()" class="addTrainee">
    <mat-icon>add</mat-icon>
    <span>New Trainee</span>
  </button>
</mat-toolbar>

<div class="trainee-container">
  <div class="trainee-grid">
    <mat-card class="trainee-card" *ngFor="let trainee of filteredTrainees">
      <mat-card-header>
        <mat-card-title>{{ trainee.name }}</mat-card-title>
        <div class="status-badge" [ngClass]="trainee.currentStatus.toLowerCase()">
          {{ trainee.currentStatus }}
        </div>
      </mat-card-header>

      <mat-card-content class="trainee-content">
        <div class="trainee-details" [ngStyle]="{'font-size': '15px'}">
          <p><mat-icon>place</mat-icon>{{trainee.location}}</p>
          <p><mat-icon>theaters icon</mat-icon>Hiring Business Unit: {{ trainee.hiringBusinessUnit }}</p>
          <p><mat-icon>date_range</mat-icon>Joining Date: {{trainee.joiningDate  | date: 'MMM d, y'}}</p>
          <p><mat-icon>business</mat-icon>Mapped Into: {{trainee.mappedBusinessUnit}}</p>
        </div>
      </mat-card-content>

      <div class="card-footer">
          <button mat-button color="primary" (click)="openEditForm(trainee)" >
            <mat-icon>edit</mat-icon> Edit
          </button>
          <button mat-button color="warn" (click)="deleteTrainee(trainee._id)">
            <mat-icon>delete</mat-icon> Delete
          </button>
      </div>
    </mat-card>
  </div>
</div>
