<mat-toolbar color="primary">
  <span>SCC Training Management Dashboard</span>
</mat-toolbar>

<div class="dashboard-container">
  <!-- Summary Cards -->
  <div class="summary-cards">
    <mat-card *ngFor="let card of summaryCards" class="summary-card">
      <mat-card-header>
        <mat-icon class="summary-icon">{{ card.icon }}</mat-icon>
        <h3> {{ card.title }}</h3>
      </mat-card-header>
      <mat-card-content>
        <p *ngFor="let metric of card.metrics" class="metric">
          {{ metric.label }}: <span class="metric-value">{{ metric.value }}</span>
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts Section -->
  <div class="charts-container">
    <!-- Pie Chart -->
    <div class="chart pie-chart-container">
      <h3>Training Program Status</h3>
      <canvas id="MyPieChart"></canvas>
    </div>

    <!-- Bar Chart -->
    <div class="chart bar-chart-container">
      <h3>Assessment Performance </h3>
      <canvas id="MyBarChart"></canvas>
    </div>
  </div>
</div>
