<div mat-dialog-title class="add-details">
  <h1>
      Add Trainee Details
  </h1>
</div>
<form [formGroup]="traineeForm" (ngSubmit)="onFormSubmit()" >
  <div mat-dialog-content class="container">
    <div class="row">
      <mat-form-field appearance="outline" class="content">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Trainee Name" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline" class="content">
        <mat-label>Hiring Business Unit </mat-label>
        <input matInput type="text" placeholder="Hiring Business Unit"  formControlName="hiringBusinessUnit">
      </mat-form-field>

      <mat-form-field appearance="outline" class="content">
        <mat-label>Joining Date</mat-label>
        <input matInput placeholder="Joining Date" [matDatepicker]="joinPicker" formControlName="joiningDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="joinPicker"></mat-datepicker-toggle>
        <mat-datepicker #joinPicker></mat-datepicker>
      </mat-form-field>

    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="content">
        <mat-label>Location </mat-label>
        <input matInput type="text" placeholder="Location"  formControlName="location">
      </mat-form-field>

      <mat-form-field appearance="outline" class="content">
        <mat-label>Mapped Business Unit </mat-label>
        <input matInput type="text" placeholder="mappedBusinessUnit" formControlName="mappedBusinessUnit">
      </mat-form-field>

      <mat-form-field class="content">
        <mat-label>Current Status</mat-label>
        <mat-select formControlName="currentStatus">
          <mat-option *ngFor="let val of currentStatusOptions" [value]="val">
            {{val}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions class="action">
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!traineeForm.valid">
        {{data? 'Update':'Save'}}
      </button>
    </div>
  </div>
</form>
